<p>nav works dd!    </p>

<div id="page-top" class ="fuente">
  <nav class="navbar  navbar-dark bg-dark navbar-expand-lg  fixed-top  navbar-default" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">gosoft</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="about">
    <app-about></app-about>
  </section>
<!--fdsfdsa-->
  <section id="services" class="bg-light">
    <app-services></app-services>
  </section>
  <section id="contact">
    <app-footer></app-footer>
  </section>
</div>


<router-outlet></router-outlet>