.services-icon {
    color: #444;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .services-details {
    padding-top: 40px;
    transition: all 0.5s ease 0s;
  }
  
  .services-details:hover h4, .services-details:hover .services-icon {
    color: #3EC1D5;
  }

  .section-headline.services-head>h2 {
    margin-bottom: 25px;
  }

  .area-padding {
    padding: 70px 0px 80px;
  }

  .section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
  }
  
  .section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 40%;
  }

  .section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}